header {
  position: fixed;
  height: 64px;
  background-color: #030303;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 98px 0 16px;
  z-index: 100;
}

header .left-section {
  display: flex;
  align-items: center;
  flex: 2;
  max-width: 620px;
}

header .left-section .hamburger-menu-container {
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s;
  margin-right: 12px;
}

header .left-section .hamburger-menu-container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

header .left-section .hamburger-menu-container .hamburger-menu {
  height: 24px;
  vertical-align: middle;
}


header .left-section .youtube-music-logo {
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 30px;
}

.left-section .search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15); 
  border-radius: 8px;
  padding: 0 16px;
  height: 42px;
  width: 100%;
  box-sizing: border-box;
}

.left-section .search-container .search-icon {
  height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  flex-shrink: 0;
  cursor: pointer;
}

.left-section .search-container .search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  width: 0;
}

.left-section .search-container:focus-within {
  background-color: #030303;

}

.left-section .search-container .search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
}

header .right-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .right-section .cast-button {
  margin-left: 16px;
}

header .right-section .cast-button .cast-icon {
  vertical-align: top;
  height: 26px;
  cursor: pointer;
}

header .right-section .current-user-profile-container {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

header .right-section .current-user-profile-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 16px;
}