header .right-section .cast-button {
  margin-left: 0;
}

header .right-section .history-link .history-icon {
  vertical-align: top;
  cursor: pointer;
}

@media (max-width: 935px) {
  header {
    padding-right: 16px;
  }
}

body {
  padding-top: 94px;
}

main .chips-section .chip {
  padding: 8px 12px;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 24px;
  row-gap: 16px;
}

.playlist-card .playlist-info p,
.playlist-card .playlist-info a,
.playlist-card .playlist-info .category{
  font-size: 14px;
}

.playlist-card .playlist-info .playlist-title {
  font-weight: 550;
}

.pin-icon {
  width: 16px;
  vertical-align: top;
}

.playlist-card .playlist-info {
  padding: 12px 0;
}

@media (min-width: 1500px) {
  .library-grid {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media (max-width: 1200px) {
  .library-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1150px) {
  .library-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 756px) {
  .library-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 615px) {
  .library-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .library-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

