.new-albums-section {
  margin-bottom: 46px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 16px;
}

.heading-title {
  flex: 1;
}

.heading-title a {
  color: inherit;
  text-decoration: none;
  transition: text-decoration 0.15s ease-in;
}

.heading-title a:hover {
  text-decoration: underline;
  transition: text-decoration 0.15s ease-out;
}

.heading-actions {
  max-width: 190px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.heading-actions button {
  font-family: inherit;
  background-color: transparent;
  color: white;
  white-space: nowrap;
  padding: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s;
}

.heading-actions button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.heading-actions button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.heading-actions button img {
  vertical-align: middle;
}

.heading-actions .new-albums-more-btn {
  font-size: 14px;
  padding: 8px 16px;
  transition: all 0.15s;
}

.heading-actions  .new-albums-more-btn:hover {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
}

.heading-actions  .new-albums-more-btn:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.new-albums-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 181px;
  column-gap: 24px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

.new-albums-grid::-webkit-scrollbar {
  display: none;
}

.new-album-preview {
  width: 100%;
}

.new-album-thumbnail {
  width: 100%;
  position: relative;
}

.new-album-thumbnail img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 8px;
}

.new-album-thumbnail-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    transparent 30%
  );
  opacity: 0;
  transition: all 0.15s ease-in;
  pointer-events: none;
}

.new-album-thumbnail:hover .new-album-thumbnail-overlay,
.new-album-thumbnail:hover .new-album-more-vert-btn,
.new-album-thumbnail:hover .play-button {
  opacity: 1;
  transition: all 0.15s ease-out;
}

.play-button,
.new-album-more-vert-btn {
  background-color: transparent;
  border: none;
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s;
}

.play-button img,
.new-album-more-vert-btn img {
  vertical-align: middle;
}

.new-album-thumbnail .play-button {
  position: absolute;
  bottom: 10px;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.15s ease-in;
}

.new-album-thumbnail .play-button img {
  height: 30px;
}

.new-album-thumbnail .play-button:hover {
  transform: scale(1.15);
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.15s ease-out; 
}

.new-album-more-vert-btn {
  position: absolute;
  top: 10px;
  right: 4px;
  opacity: 0;
  transition: all 0.15s ease-in;
}

.new-album-more-vert-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.15s;
}

.new-album-info {
  padding: 12px 2px;
}

.album-title {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: inherit;
  margin-bottom: 5px;
  display: block;
  transition: all 0.15s;
}

.album-title:hover {
  text-decoration: underline;
}

.album-author {
  color: rgba(255, 255, 255, 0.7);
}

.album-author a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: all 0.15s;
}

.album-author a:hover {
  text-decoration: underline;
}

@media (min-width: 1400px) {
  .new-albums-grid {
    grid-auto-columns: 15%;
  }
}

@media (max-width: 1200px) {
  .album-title {
    font-size: 15px;  
  }

  .album-author {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .new-albums-grid {
    grid-auto-columns: 40%;
  }

  .heading-actions {
    gap: 6px;
  }

  .heading-actions .new-albums-more-btn {
    padding: 4px 8px;
    font-size: 12px;
  }

  .heading-actions button {
    padding: 4px;
  }

  .heading-actions button img {
    width: 16px;
    vertical-align: top;
  }
}