main .quick-picks-section {
  margin-bottom: 46px;
}

main .quick-picks-section .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .quick-picks-section .section-heading .left-section {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px;
}

main .quick-picks-section .section-heading .left-section .current-user-profile-container {
  width: 56px;
}

main .quick-picks-section .section-heading .left-section .current-user-profile-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 28px;
}

main .quick-picks-section .section-heading .left-section .heading-title {
  cursor: pointer;
  transition: all 0.15s;
  white-space: nowrap;
}

main .quick-picks-section .section-heading .left-section .heading-title:hover {
  text-decoration: underline;
}

main .quick-picks-section .section-heading .right-section {
  max-width: 180px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}

main .quick-picks-section .section-heading .right-section .play-all-button {
  background-color: transparent;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 16px ;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.15s;
  white-space: nowrap;
}

main .quick-picks-section .section-heading .right-section .play-all-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
}

main .quick-picks-section .section-heading .right-section .play-all-button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main .quick-picks-section .section-heading .right-section button img {
  vertical-align: middle;
}

main .quick-picks-section .section-heading .right-section button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s;
}

main .quick-picks-section .section-heading .right-section button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main .quick-picks-section .section-heading .right-section button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.video-cards-container {
  display: grid;
  grid-template-rows: 48px 48px 48px 48px;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  grid-auto-columns: 380px;
  column-gap: 24px;
  row-gap: 16px;
  padding: 16px 10px;
}

.video-cards-container::-webkit-scrollbar {
  display: none;
}

.video-cards-container {
  scrollbar-width: none;
}

.video-cards-container .video-card {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.video-cards-container .video-card .video-image {
  width: 48px;
  position: relative;
}

.video-cards-container .video-card .video-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 6px;
}

.video-cards-container .video-card .video-image .video-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.15s;
  pointer-events: none;
}

.video-cards-container .video-card .video-image .video-image-overlay img {
  width: 24px;
  height: 24px;
}

.video-cards-container .video-card .video-details {
  flex: 1;     
  min-width: 0;
  transition: all 0.15s;
}

.video-cards-container .video-card .video-details .video-title {
  font-weight: 500;
  margin-bottom: 4px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-cards-container .video-card .video-details .video-title a {
  text-decoration: none;
  color: inherit;
}

.video-cards-container .video-card .video-details .video-stats {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-cards-container .video-card .video-details .video-stats a {
  text-decoration: none;
  color: inherit;
  transition: all 0.15s;
}

.video-cards-container .video-card .video-details .video-stats a:hover {
  text-decoration: underline;
}

.video-cards-container .video-card .action-buttons {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #030303;
  padding-left: 12px;
  opacity: 0;
  transition: all 0.15s;
  pointer-events: none; 
}

.video-cards-container .video-card .action-buttons button {
  background-color: transparent;
  border: none;
  padding: 6px 6px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s;
}

.video-cards-container .video-card .action-buttons button img {
  vertical-align: middle;
}

.video-cards-container .video-card .action-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Hover on video card effects */
.video-cards-container .video-card:hover .video-details {
  padding-right: 110px; 
}

.video-cards-container .video-card:hover .action-buttons {
  opacity: 1;
  pointer-events: auto;
}

.video-cards-container .video-card:hover .video-image .video-image-overlay {
  opacity: 1;
}

@media (min-width: 1400px) {
  .video-cards-container {
    grid-auto-columns: 33.33%;
  }
}

@media (max-width: 1200px) {
  .video-stats a{
    font-size: 14px;
  }

  .video-title {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .video-stats a{
    font-size: 14px;
  }

  .video-title {
    font-size: 15px;
  }

  .video-cards-container {
    grid-auto-columns: 90%;
  }

  main .quick-picks-section .section-heading .right-section {
    gap: 8px;
  }
}